<div id="question-container">
  <h1><%= @question.question_text %></h1>
  <div id='comments-container'>
    <h2>Comments</h2>
    <ul>
      <% @question.comments.each do |comment| %>
        <li><%= comment.comment_text %></li>
      <% end %>
    </ul>
  </div>
  <div id="answers-container">
    <h2>Answers</h2>
    <ul>
    <% @question.answers.each do |answer| %>
      <li class="answer">
        <%= answer.answer_text %>
        <h4>Comments</h4>
        <ul>
        <% answer.comments.each do |comment| %>
          <li><%= comment.comment_text %></li>
        <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </div>

<button id='add-answer-button' type="button">Add Answer</button>
<div id='new-answer-container'
  <!-- FORM TO ANSWER QUESTION
    
</div>
</form>
</div>
