<div id="question-container">
  <h1><%= @question.question_text %></h1>
  <br>
  <div id='comments-container'>
    <ul>
      <% @question.comments.each do |comment| %>
        <li><%= comment.comment_text %></li>
      <% end %>
    </ul>
  </div>
  <div id="answers-container">
    <ul>
    <% @question.answers.each do |answer| %>
      <li><%= answer.answer_text %></li>
    <% end %>
    </ul>
  </div>
</div>
