.inline {
  display: inline;
}

#register {
  width: 20%;
  padding-top: 300px;
}

.list-group-item {
  background-color: #87cefa;
}

#register input {
  margin: auto;
  display: block;
}

li {
  list-style: none;
}

