  <form class="inline" id="new-answer-form" action="/../../answers/new" method="POST">
    <input type="text" name="answer_text" placeholder="Enter answer here">
    <input type="submit" value="Post Answer">
  </form>



